@model Choose_Teacher.Models.Certification

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete <span class="text-danger">@Html.DisplayFor(c=>c.CertificationName)</span></h3>
<div>
    <h4>Certification</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertificationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssuingAuthority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssuingAuthority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CertificationId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
