@model IEnumerable<Booking>

@{
    ViewData["Title"] = "Bookings";
}
<script>
    function cancelBooking(bookingId) {
        swal({
            title: "Are you sure?",
            text: "Once cancelled, you will not be able to change the booking status!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willCancel) => {
                if (willCancel) {
                    // Call your CancelBooking action here
                    $.post("/Bookings/CancelBooking", { bookingId: bookingId })
                        .done(function () {
                            swal("Booking cancelled!", {
                                icon: "success",
                            });
                        })
                        .fail(function () {
                            swal("An error occurred!", {
                                icon: "error",
                            });
                        });
                } else {
                    swal("Your booking status is safe!");
                }
            });
    }

</script>

<h1>Bookings</h1>

@if (Model.Any())
{
    <table class="table table-active">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(x => x.Teacher.TeacherName)</th>
                <th>@Html.DisplayNameFor(x => x.BookingDate)</th>
                <th>@Html.DisplayNameFor(x => x.StartTime)</th>
                <th>@Html.DisplayNameFor(x => x.EndTime)</th>
                @* <th>@Html.DisplayNameFor(x => x.BookHour(x.EndTime,x.StartTime)</th> *@
                <th>@Html.DisplayNameFor(x => x.Price)</th>
                <th>@Html.DisplayNameFor(x => x.Status)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model)
            {
                <tr>
                    <td>@booking.Teacher.TeacherName</td>
                    <td>@booking.BookingDate.ToShortDateString()</td>
                    <td>@booking.StartTime</td>
                    <td>@booking.EndTime</td>
                    <td>@booking.Price</td>
                    <td>@booking.Status</td>
                    @if (booking.Status == Status.Pending)
                    {
                        <td>
                            <form onclick="cancelBooking(@booking.BookingId)" asp-action="CancelBooking" asp-route-bookingId="@booking.BookingId" method="post">
                                <input type="submit" value="Cancel Booking" />
                            </form>
                        </td>
                    }

                    <!-- Add other booking properties as needed -->
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">
        <h1>No bookings found for the user.</h1>
    </div>
}
